﻿@inherits MediatorPageBase<OutboundRoutePage>
@page "/Outbound"
@using AIT.Mediator.Common.Core.Enums
@using AIT.Mediator.Common.Outbound.Abstractions
 
<MediatorCrudComponent ItemDescription="gateway"
                       Delete=Delete
                       GetAll=@GetAllOutboundRoutes
                       TInterface=IOutboundRoute
                       TViewModel=OutboundRouteVM
                       Save=Save
                       New=New
                       Copy=Copy
                       SearchFilter=SearchOutboundRoutes>
    <ItemDisplay>
        <div>
            <b>@context.Name</b>
        </div>
    </ItemDisplay>
    <EditDisplay>
        <div class="form-group">
            <label for="txtName">Name</label>
            <input type="text" id="txtName" class="form-control" placeholder="Required" @bind="context.Name" autocomplete="off">
        </div>

        <div class="form-group">
            <label for="cbType">Request Type</label>
            <select class="form-control" id="cbType" @bind="context.RequestType">
                @foreach (var type in (RestType[])Enum.GetValues(typeof(RestType)))
                {
                    <option value=@type>@type.ToFriendly()</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="txtRequestUrlSql">Proceed SQL</label>
            <textarea id="txtRequestUrlSql"
                      class="form-control"
                      style="resize: none;overflow-y:auto;overflow-x:hidden;"
                      rows="10"
                      @bind="context.ProceedSql"
                      autocomplete="off"
                      placeholder="SQL should return 1 to proceed with the request, or 0 to cancel it. Defaults to proceed if left blank"/>
        </div>

        <div class="form-group">
            <label for="txtRequestUrlSql">Request Url SQL</label>
            <textarea id="txtRequestUrlSql"
                      class="form-control"
                      style="resize: none;overflow-y:auto;overflow-x:hidden;"
                      rows="10"
                      @bind="context.RequestUrlSql"
                      autocomplete="off"
                      placeholder="SQL to build the request url, should return a single string. Eg Select 'https://localhost:5000/get'"/>
        </div>

        <div class="form-group">
            <label for="txtRequestHeadersSql">Request Headers SQL</label>
            <textarea id="txtRequestHeadersSql"
                      class="form-control"
                      style="resize: none;overflow-y:auto;overflow-x:hidden;"
                      rows="10"
                      @bind="context.RequestHeadersSql"
                      autocomplete="off"
                      placeholder="Sql to build the request headers. Should return a single row with the column name being the header key and the column value being the header value. Eg Select Api-Key = 'ABC', Header2 = '123'"/>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" @bind="context.DeserializeRequestHeaders" id="chkDeserializeRequestHeaders">
            <label class="form-check-label" for="chkDeserializeRequestHeaders">
                Deserialize Request Headers
            </label>
        </div>

        <div class="form-group mt-2">
            <label for="txtRequestBodySql">Request Body SQL</label>
            <textarea id="txtRequestBodySql"
                      class="form-control"
                      style="resize: none;overflow-y:auto;overflow-x:hidden;"
                      rows="10"
                      @bind="context.RequestBodySql"
                      autocomplete="off"
                      placeholder="SQL to build the request body. If ticked to serialize, should return a single row. If not ticked to serlize should return a single text value containing json"/>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" @bind="context.SerializeRequestBody" id="chkSerializeRequestBody">
            <label class="form-check-label" for="chkSerializeRequestBody">
                Serialize Request Body
            </label>
        </div>

        <div class="form-group mt-2">
            <label for="txtResponseSql">Response SQL</label>
            <textarea id="txtResponseSql"
                      class="form-control"
                      style="resize: none;overflow-y:auto;overflow-x:hidden;"
                      rows="10"
                      @bind="context.ResponseSql"
                      autocomplete="off" 
                      placeholder="SQL to be run when the request is successful and the response received"/>
        </div>

        <div class="form-group mt-2">
            <label for="txtResponseErrorSql">Response Error SQL</label>
            <textarea id="txtResponseErrorSql"
                      class="form-control"
                      style="resize: none;overflow-y:auto;overflow-x:hidden;"
                      rows="10"
                      @bind="context.ResponseErrorSql"
                      autocomplete="off" 
                      placeholder="SQL to be run when the request is unsuccessful"/>
        </div>

        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" @bind="context.DeserializeResponse" id="chkDeserializeResponse">
            <label class="form-check-label" for="chkDeserializeResponse">
                Deserialize Response
            </label>
        </div>


    </EditDisplay>
</MediatorCrudComponent>

