﻿@if (!IsReady)
{
    @if (UseFullPageLoadingMessage)
	{
        <div class="d-flex w-100 h-100 align-items-center justify-content-center">
            <i class="fas fa-cog fa-spin" style="font-size:100px;"></i>
        </div>
	}
    else if (LoadingContent != null)
    {
        @LoadingContent
    }
    else
    {
        <span>
            <i class="fa fa-circle-o-notch fa-spin"></i>
            @LoadingMessage
        </span>
    }

}
else if (IsError)
{
    <span>
        <i class="fa fa-exclamation-triangle"></i>
        @ErrorMessage
    </span>
}
else
{

    @ChildContent

}

@code{
    [Parameter]
    public bool IsReady { get; set; }

    [Parameter]
    public string LoadingMessage { get; set; } = "Loading...";

    [Parameter]
    public string ErrorMessage { get; set; }
    private bool IsError => !string.IsNullOrWhiteSpace(ErrorMessage);

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment LoadingContent { get; set; }

    [Parameter]
    public bool UseFullPageLoadingMessage { get; set; }
}