﻿@using AIT.Mediator.Editor.UI.Base.Components
@typeparam TInterface
@typeparam TViewModel
@inherits MediatorComponentBase<MediatorCrudComponent<TInterface, TViewModel>>



<div class="d-flex flex-row w-100 h-100" style="position:relative">

    @*Buttons*@
    <button class="in-route-circle-button light-background-colour info-foreground-colour info-border-colour animated noselect"
            @onclick=@(() => IsLeftColumnShowing = !IsLeftColumnShowing)
            style="left:4px;bottom:4px;"
            type="button"
            title="Toggle Display">
        <div class="oi oi-arrow-left  @(IsLeftColumnShowing ? "mb-1" : "rotate-180")" style="font-size:40px;" />
    </button>

    <button class="in-route-circle-button light-background-colour primary-foreground-colour primary-border-colour animated noselect"
            style="left:@(IsLeftColumnShowing ? "78px" : "4px;" );
             bottom:@(IsLeftColumnShowing ? "4px" : "78px;");"
            @onclick=@(async () => await NewItem())
            type="button"
            title="New">
        <div class="oi oi-plus" style="font-size:40px;" />
    </button>

    <button class="in-route-circle-button  light-background-colour danger-foreground-colour danger-border-colour animated noselect"
            style="left:@(IsLeftColumnShowing ? "152px" : "4px;" );
             bottom:@(IsLeftColumnShowing ? "4px" : "152px;");"
            @onclick=@(async () => await DeleteItem())
            type="button"
            title="Delete">
        <div class="oi oi-minus" style="font-size:40px;" />
    </button>

    <button class="in-route-circle-button  light-background-colour primary-foreground-colour primary-border-colour animated noselect"
            style="left:@(IsLeftColumnShowing ? "226px" : "4px;" );
            bottom:@(IsLeftColumnShowing ? "4px" : "226px;" );"
            form="route-form"
            type="Submit"
            title="Save">
        <div class="oi oi-browser mb-2" style="font-size:40px;" />
    </button>

    @*Left hand column*@
    <div class="h-100 animated @(IsLeftColumnShowing ? "p-2"  : " ") d-flex flex-column overflow-hidden"
         style="background-color:#A0E7D6;
                width:@(IsLeftColumnShowing ? "300px" : "78px" );
                min-width:@(IsLeftColumnShowing ? "300px" : "78px");">

        @if (IsLeftColumnShowing)
        {
            <div class="badge badge-pill light-background-colour w-100 px-2 mb-2">
                <input type="search" 
                       class="crud-search w-100 border-0" 
                       style="font-size:1rem;"
                       @bind-value:event="oninput" @bind-value=SearchText autocomplete="off"/>
            </div>

            <div class="flex-grow-1" style="overflow-y:auto;overflow-x:hidden;">

                @if (_filteredItems?.Any() == true)
                {
                    @foreach (var item in _filteredItems.OrderBy(i => i.Id))
                    {
                <div class="light-background-colour p-2 mb-1 noselect"
                     @onclick=@(async (e) => await SelectItem(item))>
                    <ContextMenuComponent>
                        <Body>
                          
                                @ItemDisplay(item)
                                                
                        </Body>
                        <DropDown>
                            <div class="list-group">
                                <span class="list-group-item" @onclick=@(async () => await CopyItem(item))>
                                    <span class="oi oi-pencil"></span>
                                    <span>Copy</span>
                                </span>
                            </div>
                        </DropDown>
                    </ContextMenuComponent>
                </div>
                    }
                }

            </div>

            <div style="height:110px;width:100%;">
                @*This is the place holder for the buttons*@
            </div>
        }


    </div>


    @*Body*@
    <div class="flex-grow-1 h-100 mx-2" style="overflow-x:hidden;overflow-y:auto;">

        @if (_selectedItem == null)
        {
            <div class="d-flex flex-row justify-content-center align-items-center h-100 w-100">
                @($"Please select a {ItemDescription} or create a new one")
            </div>
        }
        else
        {
            <EditForm Model=@_selectedItem id="route-form"
                      OnValidSubmit=@(async () => await SaveItem())
                      OnInvalidSubmit=@(async (e) => await InvalidSaveItem(e))>
                <FluentValidator></FluentValidator>

                @EditDisplay(_selectedItem)

            </EditForm>
        }
    </div>
</div>

