﻿.in-route-circle-button {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    z-index: 2;
    border: solid 4px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

    .in-route-circle-button:focus {
        outline: none;
    }

.crud-search {
    outline: none;
}

    .crud-search:focus {
        outline: none;
    }
