﻿@using Blazored.Modal 

<div class="w-100 h-100"
     style="position:relative">
    @if (string.IsNullOrWhiteSpace(HeaderText) == false)
    {
        <div class="d-flex flex-row justify-content-center align-items-center">
            <h3>@HeaderText</h3>
        </div>
    }
    @if (CanCancel)
    {
        <div style="position:absolute;right:0px;top:0px;width:auto;height:auto;z-index:20;"
             @onclick=@(() => ModalInstance.CancelAsync())>
            <div class="oi oi-circle-x"></div>
        </div>
    }

    @ChildContent

</div>

@code{
    [Parameter]
    public BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public string HeaderText { get; set; }

    [Parameter]
    public bool CanCancel { get; set; } = true;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override void OnInitialized()
    {
        if (ModalInstance == null) throw new Exception($"Parameter {nameof(ModalInstance)} not set for component {nameof(ModalFrameComponent)}");

    }
}