﻿.toast-message{
    position:fixed;
    z-index:999;
    right:20px;
    top:-40px;
    height:70px;
    width:250px;
    display:flex;
    flex-direction:row;    
    overflow:hidden;
    border: solid 1px;
}

    .toast-message.start{
        top: -100px !important;
    }

    .toast-message.hide {
        right: -250px;
    }

.toast-icon{
    width:70px;
    min-width:70px;
    height:70px;
    color:white;
}

.toast-body{
    flex-grow:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:white;
}