﻿@ChildContent

@if (_toastStack?.Any() == true)
{
    for (int i = 0; i < _toastStack.Count(); i++)
    {
        <div class="toast-message @(_toastStack[i].Class) @_toastStack[i].ToastMessage.Type-border-colour" style="top:@((_toastStack.Count() - i) * 100)px;" @key=@(_toastStack[i].Key)>
            <div class="toast-icon @(_toastStack[i].IconClass)">
            </div>
            <div class="toast-body">
                @(_toastStack[i]?.ToastMessage?.Message)
            </div>
            
        </div>
    }
}