﻿@inherits MediatorPageBase<InboundRoutePage>
@page "/"
@using AIT.Mediator.Common.Inbound.Abstractions 

<MediatorCrudComponent ItemDescription="route" 
                       Delete=@Delete 
                       GetAll=@GetAllRoutes 
                       TInterface=IInboundRoute
                       TViewModel=@InboundRouteVM
                       Save=Save
                       New=New
                       Copy=Copy
                       SearchFilter=SearchRoutes>
    <ItemDisplay>
        <div>
            <b>@context.Name</b>
        </div>
        <div>
            @context.UrlMask
        </div>
    </ItemDisplay>
    <EditDisplay>
        <div class="form-group">
            <label for="txtName">Name</label>
            <input type="text" id="txtName" class="form-control" placeholder="Required" @bind="context.Name" autocomplete="off">
        </div>

        <div class="form-group">
            <label for="txtUrl">Url</label>
            <input type="text" id="txtUrl" class="form-control"  @bind="context.UrlMask" autocomplete="off"
                   placeholder="Required. Variables should be wrapped in { } quotes">
        </div>

        <div class="form-check ">
            <input class="form-check-input" type="checkbox" @bind="context.IsDocumentRequest" id="chkIsDocumentRequest">
            <label class="form-check-label" for="chkIsDocumentRequest">
                Is Document Request
            </label>
        </div>

        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" @bind="context.DeserializeRequest" id="chkDeserializeRequest">
            <label class="form-check-label" for="chkDeserializeRequest">
                Deserialize Request
            </label>
        </div>

        <div class="form-group">
            <label for="txtSQL">SQL</label>
            <textarea id="txtSQL" class="form-control" style="resize: none;overflow-y:auto;overflow-x:hidden;" rows="10" @bind="context.Sql" autocomplete="off" 
                      placeholder=@((context.IsDocumentRequest 
                                    ? "SQL must return 1 row with two columns named DocumentNo and DocumentCode. These must be the document number and the 3 character document code as per sybranch" 
                                    : "SQL to build the response body. The request is passed into the variable :Body as a json blod the headers are passed into the variables with names matching the header keys")) />
        </div>

        

        

        @if(context.IsDocumentRequest != true)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" @bind="context.SerializeResponse" id="chkSerializeResponse">
                <label class="form-check-label" for="chkSerializeResponse">
                    Serialize Response
                </label>
            </div>

        }
        
        <div class="table-responsive w-100 mt-2">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Authorized</th>
                        <th>App</th>
                        <th>Is App Disabled</th>
                    </tr>
                </thead>
                <tbody>
                    @if (context.AppAccessVMs?.Any() == true)
                    {
                        foreach (var app in context.AppAccessVMs)
                        {
                            <tr style="background-color:@(app.IsAppDisabled ? "#c7c7c7" : "transparent")">
                                <td><input type="checkbox" class="mx-0" @bind=@app.IsAccessGranted></td>
                                <td>@app.AppName</td>
                                @if (app.IsAppDisabled)
                                {
                                    <td><input type="checkbox" class="mx-0" disabled checked></td>
                                }
                                else
                                {
                                    <td><input type="checkbox" class="mx-0" disabled></td>
                                }

                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </EditDisplay>
</MediatorCrudComponent>



