﻿@using Blazored.Modal.Services
@using Blazored.Modal

<div style="width: auto;
            height: auto;"
     class="d-flex flex-row h-100 w-100 p-4 align-items-center">

    <i class="@_iconClass px-2 noselect"
       style="font-size: 50px;
              color: @_colourHex;" />

    <div class="d-flex flex-column justify-content-center align-items-center">
        @if (!string.IsNullOrWhiteSpace(Title))
        {
            <h2 class="noselect">@Title</h2>
        }

        @if (!string.IsNullOrWhiteSpace(Message))
        {
            <div>@Message</div>
        }

        @if (Type == MessageType.Question)
        {
            <div class="d-flex flex-row">
                <button class="btn btn-info mt-2 noselect mx-2"
                        style="min-width: 100px;"
                        @onclick=@(async () => await _modalInstance.CloseAsync(ModalResult.Ok(false)))>
                    @NegativeLabel
                </button>

                <button id=@_id
                        class="btn btn-success mt-2 noselect  mx-2"
                        style="min-width: 100px;"
                        @onclick=@(async () => await _modalInstance.CloseAsync(ModalResult.Ok(true)))>
                    @AffirmativeLabel
                </button>
            </div>
        }
        else
        {

            <button id=@_id
                    class="btn @_buttonClass mt-2 noselect"
                    style="min-width: 100px;"
                    @onclick=@(async () => await _modalInstance.CloseAsync())>
                OK
            </button>
        }




        @if (Exception != null)
        {
            @if (ErrorId != null)
            {
                <div class="small mt-2">Error Id: @ErrorId</div>
            }
            <div class="small noselect" @onclick=@(() => _expandErrorDetail = !_expandErrorDetail)>Error detail +</div>
        }
        @if (_expandErrorDetail)
        {
            <div class="border w-100" style="overflow-x:hidden;overflow-y:auto;">
                <p>
                    @(Exception?.Message ?? "No error message")
                    <br />

                    @if (string.IsNullOrWhiteSpace(Exception?.InnerException?.Message) == false)
                    {
                        @Exception.InnerException.Message
                        <br />
                    }


                    @(Exception.StackTrace ?? "No stack trace")
                </p>

            </div>
        }
    </div>
</div>
