﻿<div class="d-flex flex-row align-items-center w-100 h-100 ">

    <div class="oi oi-menu light-foreground-colour"
         style="font-size:30px; text-align:center; left:10px; margin-bottom:4px;" 
         @onclick=@(async () => await ToggleLeftColumn())/>

</div>