﻿@inherits MediatorComponentBase<LeftColumnComponent>

<div class="w-100 h-100 p-1 light-foreground-colour noselect">

    <div class="d-flex flex-column align-items-center justify-content-center border light-border-colour w-100 p-1 my-1 noselect"
         @onclick=@(() => NavigateTo(@"/App"))>
        <div class="oi oi-people" style="font-size: 40px;" />
        <div class="mt-1">Apps</div>
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center border light-border-colour w-100 p-1 my-1 noselect"
          @onclick=@(() => NavigateTo(@" /"))>
        <div class="oi oi-arrow-circle-right" style="font-size: 40px;" />
        <div class="mt-1">Inbound</div>
    </div>

    <!--<div class="d-flex flex-column align-items-center justify-content-center border light-border-colour w-100 p-1 my-1 noselect"
          @onclick=@(() => NavigateTo(@"/Gateway"))>
        <div class="oi oi-aperture" style="font-size: 40px;" />
        <div class="mt-1">Gateways</div>
    </div>-->

    <div class="d-flex flex-column align-items-center justify-content-center border light-border-colour w-100 p-1 my-1 noselect"
          @onclick=@(() => NavigateTo(@" /outbound"))>
        <div class="oi oi-arrow-circle-left" style="font-size: 40px;" />
        <div class="mt-1">Outbound</div>
    </div>


</div>