﻿@inherits LayoutComponentBase

<CascadingValue Value=@ToggleLeftColumn TValue="Func<Task>">
    <!--Header column-->
    <div class="d-flex flex-row align-items-center dark-background-colour"
         style="position: fixed; overflow: hidden; height: 3.5rem; width: 100%; z-index: 20;">

            <HeaderComponent />
  
    </div>

    <!--Body-->
    <div class="d-flex flex-row"
         style="position:fixed;top:3.5rem;width:100%;height: calc(100% - 3.5rem);overflow:hidden">


        <!--Left column-->
        <div class="d-none d-md-block animated primary-background-colour"
                style="overflow: hidden; width: @(_isLeftColumnVisible ? "100px" : "0px"); min-width: @(_isLeftColumnVisible ? "100px;" : "0px;"); height: 100%;">
            <LeftColumnComponent/>
        </div>
        

        <!--Body-->
        <div class="flex-grow-1 animated"
             style="height:100%;overflow:hidden;">
            <div style="position:relative;width:100%;height:100%;">
                @Body
            </div>
        </div>
    </div>
</CascadingValue>