﻿@using AIT.Mediator.Editor.Core.UI.Toast
@using Blazored.Modal
 
<CascadingBlazoredModal DisableBackgroundCancel="true" HideHeader="true" AnimationType=@ModalAnimationType.FadeInOut Size=ModalSize.Automatic>
    <ToastComponent>
        <Router AppAssembly="@typeof(MainLayout).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </ToastComponent>
</CascadingBlazoredModal>