﻿@page "/"
@namespace AIT.Mediator.Editor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AIT Mediator Editor</title>
    <base href="~/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/SiteStandard.css" rel="stylesheet" />
    <link href="css/SiteCustom.css" rel="stylesheet" />
    <link href="css/ContextMenuComponent.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link href="AIT.Mediator.Editor.styles.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(AIT.Mediator.Editor.App)" render-mode="Server" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="https://kit.fontawesome.com/2da5ea7f93.js"></script>
    <script src="_content/AIT.Mediator.Editor.UI/scripts/FocusHelper.js"></script>
</body>
</html>
