﻿
.contextmenu{
   position: fixed;
   min-width: 100px;
   max-width: 400px;
   z-index: 99;
   background-color: yellow; /*TESTING*/
}

    .contextmenu:focus {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
    }