:root {
    --primary-colour: #48CFAD;
    --secondary-colour: #F4F6F9;
    --inverse-colour: #FFFFFF;
    --success-colour: #5cb85c;
    --info-colour: #5bc0de;
    --warning-colour: #f0ad4e;
    --danger-colour: #d9534f;
}


.primary-background-colour {
    background-color: #48CFAD;
}

.primary-foreground-colour {
    color: #48CFAD;
}

.primary-border-colour {
    border-color: #48CFAD;
}

.success-background-colour {
    background-color: #48CFAD;
}

.success-foreground-colour {
    color: #48CFAD;
}

.success-border-colour {
    border-color: #48CFAD;
}

.dark-background-colour {
    background-color: #37BC9B;
}

.dark-foreground-colour {
    color: #37BC9B;
}

.dark-border-colour {
    border-color: #37BC9B;
}

.light-background-colour {
    background-color: #FFFFFF;
}

.light-foreground-colour {
    color: #FFFFFF;
}

.light-border-colour {
    border-color: #FFFFFF;
}

.info-background-colour {
    background-color: #0384fc;
}

.info-foreground-colour {
    color: #0384fc;
}

.info-border-colour {
    border-color: #0384fc;
}

.danger-background-colour {
    background-color: #f7363d;
}

.danger-foreground-colour {
    color: #f7363d;
}

.danger-border-colour {
    border-color: #f7363d;
}



.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

@font-face {
    font-family: 'Roboto', sans-serif;
}

html, body {
    font-family: Roboto;
    /* font-size: 12px;*/
}

.animated {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-270 {
    transform: rotate(270deg);
}

.rotate-360 {
    transform: rotate(360deg);
}
