﻿@inherits MediatorComponentBase<ContextMenuComponent>
@namespace AIT.Mediator.Editor.UI.Base.Components

<div @oncontextmenu=@(async (e) => await OnRightClick(e))
     @oncontextmenu:preventDefault
     @oncontextmenu:stopPropagation>
        @Body 
</div>

@if (_isOpen)
{
    <div class="contextmenu"
         id=@ContextMenuId
         tabindex="99"
         @onfocusout=@(async () => await LostFocus())
         @onclick=@(async () => await LostFocus())
         @onmouseout=@(async () => await LostFocus())
         @onclick:stopPropagation
         style="left:@(Left)px;
                top:@(Top)px;
                position: fixed;
                min-width: 100px;
                max-width: 400px;
                z-index: 99;">

        @DropDown

    </div>
}
