﻿@namespace AIT.Mediator.Editor.UI.Base.Components
@typeparam T


<div id=@_id
     class="@(_isDroppedDown ? "infocus" : "multiselectdropdownnotinfocus") @Class"
     style="position:relative;height:38px;border-radius:0.25rem; background-color:white;padding:0px;@Style"
     @onfocusout=@OnLostFocus
     @onfocusin=@OnInputFocus 
     tabindex="0"
     >
    <div class="d-flex flex-row justify-content-center align-items-center overflow-hidden"
         style="height:inherit;width:inherit;">

        <div class="d-flex flex-row justify-content-center align-items-center flex-grow-1 no-scroll-bar"
             style="height:inherit;width:inherit;overflow-x:auto;overflow-y:hidden;">
            @if (SelectedItems?.Any() == true)
            {
                foreach (var selectedItem in SelectedItems)
                {
                    <div class="flex-grow-0 mx-1">
                        @SelectedTemplate(selectedItem)
                    </div>
                }
            }
            
            <div class="flex-grow-1 mx-1">
                <input id=@_textInputId 
                       type="text" 
                       style="border:none;width:100%;outline:none;min-width:50px;" 
                       placeholder=@_placeHolder
                       @bind-value=_searchText 
                       @bind-value:event="oninput"
                       @onkeyup=OnKeyUp/>
            </div>
        </div>

        @if (SelectedItems?.Any() == true)
        {
            <div class="noselect d-flex flex-row justify-content-center align-items-center flex-grow-0 mr-1"
                 style="font-size:10px;"
                    @onclick=@(() => SelectedItems.Clear())>
                <span class="oi oi-x h-100" style="color:#495057;padding-bottom:6px;"></span>
            </div>
        }

        <div class="noselect d-flex flex-row justify-content-center align-items-center flex-grow-0 mr-1 font-weight-normal"
             style="font-size:10px;">
            <span class="oi oi-chevron-bottom animated h-100" style="color:#495057;padding-bottom:6px;"></span>
        </div>
        
    </div>
    @if (_isDroppedDown)
    {
        <div style="position:absolute;z-index:99;width:100%;top:100%;overflow:auto;max-height:200px;border:1px solid #c7c7c7;">
            <table>
                @if (HeaderTemplate != null)
                {
                    <thead>
                        <tr style="background-color:white;border-color:#c7c7c7;">
                            @HeaderTemplate
                        </tr>
                    </thead>
                }

                @if (Items?.Any() == true)
                {
                    @foreach (var item in _filteredItems)
                    {
                        <tr @onclick=@(() => OnItemClick(item))
                            style="background-color:@(IsItemSelected(item) ? "lightblue" : "white")">
                            @RowTemplate(item)
                        </tr>
                    }
                }
            </table>
        </div>
    }
</div>
