﻿@inherits MediatorPageBase<AppPage>
@page "/App"
@using AIT.Mediator.Common.Inbound.Abstractions

<MediatorCrudComponent ItemDescription="app"
                       Delete=@Delete
                       GetAll=@GetAllApps
                       TInterface=IApp
                       TViewModel=@AppVM
                       Save=Save
                       New=New
                       SearchFilter=SearchApps
                       Copy=Copy>
                
    <ItemDisplay>
        <div>
            <b>@context.Name</b>
        </div>
    </ItemDisplay>
    <EditDisplay>
        <div class="form-group">
            <label for="txtName">Name</label>
            <input type="text" id="txtName" class="form-control" placeholder="Required" @bind="context.Name" autocomplete="off">
        </div>

        <div class="form-group">
            <label for="txtAppKey">App Key</label>
            <div class="d-flex flex-row">
                <input type="text" id="txtAppKey" class="flex-grow-1 form-control" placeholder="Required" @bind="context.AppKey" autocomplete="off"/>
                <button class="btn" 
                        type="button"
                        style="border:solid 1px #c7c7c7; border-radius:3px;"
                        @onclick=@(() => context.AppKey = string.IsNullOrWhiteSpace(context.AppKey) ? Guid.NewGuid().ToString() : context.AppKey)>
                    Generate
                </button>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="checkbox" @bind="context.IsDisabled" id="chkIsDisabled">
                <label class="form-check-label" for="chkIsDisabled">
                    Is Disabled
                </label>
            </div>

        </div>
    </EditDisplay>
</MediatorCrudComponent>

